@use "../utils/global" as *;

footer{
  box-sizing: border-box;
  background-color:$colors-white-200;
  width:100%;

  .appear{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link{
    display: flex;
    flex-direction: column;
    a{
      font-weight: 500;
      font-size:100%
    } 
  }

  .footer-home {
    display: flex;
    gap:0.5rem;
    align-items: center;
  }
}

