@use "../utils/global" as *;

#Works{
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba($colors-white-0, 0.4), 
    $colors-white-200        
  );
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 4rem 4rem 0 0;   
  display: flex;
  justify-content: center;

  .appear{
    width: 100%;
  }

  li{
    line-height: 1.3rem;
    &::marker {
    content: "- "; 
    color: #333;   
    }
  }

  .works-title{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .works-content{
    .works-item{
        position: relative;
        margin: 2rem 0;
        padding-left: 4rem;
        padding-right: 3rem;

        @include rwd(mobile-l) {
          padding-right: 2rem;
        }

        &::before{
          content: "";
          height: 90%;
          width: 2px; 
          position: absolute;
          left: 1.25rem;
          top: 35px;
          background-color: $colors-primary-600;
        }

      .work-experience{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        
        @include rwd(mobile-l) {
          flex-direction: column;
          align-items: flex-start;
        }

        .work-name{
          display: flex;
          justify-content: space-between;
          width: 100%;
          @include rwd(mobile-l) {
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .work-icon{    
          position: absolute;
          top: 0px;
          left: -3.5rem;
          svg{
            color: $colors-primary-700;
          }
        }
      }

      .work-title{
        padding-bottom: 0.5rem;
       
      }

      .work-company,.work-year{
        color: $colors-black-900; 
        @include rwd(tablet) {
         padding-bottom:0.5rem;
        }
      }

      .work-year{
        display: flex;
        align-items: center;
        white-space:nowrap;

        svg{
          margin-right: 0.5rem;
        }

        .work-total-year::before{
          content: "·";
          padding: 0 0.5rem;
        }
      }
    

      .work-description{
        padding-top: 1rem;
      }

      .description-title{
        font-weight: bold;
        padding: 0.5rem 0;
      }
    }
  }
 
}