$colors-white-0: #fff;
$colors-white-200:#D7E8F0;
$colors-white-500:#ECDBC6;

$colors-black-0: #000;

$colors-primary-600:#4F85A2;
$colors-primary-500:#64A0BF;
$colors-primary-300:#B0D0E1;

$colors-secondary-400:#E2B09D;
$colors-secondary-600:#D09195;
  
