@use "../utils/global" as *;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Quicksand:wght@300..700&family=TASA+Explorer:wght@400..800&display=swap');

html{
  scroll-behavior: smooth; //錨點平滑
}

#root {
  font-family: "Quicksand", "Noto Sans TC", "TASA Explorer", sans-serif;
  background-image: url("/Gemini_Generated.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1{
  font-size: 4rem;
}

h3{
  font-size: 2rem;
  font-weight: bold;
}

h4{
  font-size: 1.5rem;
  font-weight: bold;
}

h5{
  font-size: 1.25rem;
}

a{
  color: $colors-primary-600;
  font-weight: bold;
}

p{
  line-height: 1.25rem;
}